<% layout('layouts/boilerplate') -%>

<style>
    .btn{
        background-color: rgba(94, 150, 255, 1);
        border: none;
    }
</style>

<h1>Museum List</h1>
<h3><a href="/museums/new">Create New Museum</a></h3>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <% for(let i of museums) { %>
        <div class="col">
            <div class="card mb-3 h-100">
                <img src="<%= i.image %>" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #f8f9fa">
                <h5 class="card-title"><%= i.title %></h5>
                <p class="card-text">Laction: <p><%= i.location %></p></p>
                <a href="/museums/<%= i._id %>" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    <% } %>
</div>